<%- include("../../partials/farmer/farmer_nav") %>

<div class="app-root">
  <main class="calendar-container">
    <h2 class="page-title">YOUR SCHEDULE</h2>

  <div class="calendar-wrapper">
    <h4 class="calendar-subtitle">Heat checks &amp; farrowing</h4>
    <div id="calendar"></div>
  </div>
</div>

<%- include("../../partials/farmer/farmer_footer") %>
