<!-- Bootstrap + scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../js/farm-manager/sidepanel.js"></script>
<script src="../../../js/farm-manager/navbar.js"></script>


<% if (page_title === "Admin Dashboard") { %>
    <script src="../../../js/admin_dashboard.js"></script>

<% } else if (page_title === "Reports") { %>
    <script type="module" src="../../../js/farmers_report.js"></script>     

<% } else if (page_title === "Create Account") { %>
    <script type="module" src="../../../js/farm-manager/user-management/create_account.js"></script>

<% } else if (page_title === "Manage Account") { %>
    <script type="module" src="../../../js/farm-manager/user-management/manage_account.js"></script>

<% } else if (page_title === "Pig Management Overview") { %>
    <script type="module" src="../../../js/farm-manager/pig-management/overview.js"></script>

<% } else if (page_title === "Register Pig") { %>
    <script type="module" src="../../../js/farm-manager/pig-management/register_pig.js"></script>

<% } %>

</body>
</html>
